body {
  font-family: sans-serif;
}

#controls {
  position: fixed;
  left: 100px;
  top: 200px;
}

#controls canvas {
  position: absolute;
  z-index: -100;
}

#controls .component {
  display: inline-block;
  width: 60px;
  height: 40px;
  z-index: 100;
  font-size: 32px;
  text-align: center;
  padding: 2px 8px;
  color: #222;
  border: 1px solid #eee;
  border-bottom: 1px solid #888;
  outline: 0;
}
