body {
  font-family: sans-serif;
}

#controls {
  position: fixed;
  left: 300px;
  top: 200px;
}

input {
  font-size: 36px;
  width: 100px;
  padding: 2px 8px;
  margin-right: 10px;
  background: #eee;
  border: 1px dotted #ccc;
}
