body {
  font-family: sans-serif;
}

#controls {
  position: fixed;
  left: 300px;
  top: 200px;
  border: 1px dotted #ccc;
}

#controls canvas {
  position: absolute;
  border: 1px solid #ddd;
}

input {
  font-size: 24px;
  width: 100px;
  padding: 2px 8px;
  margin-right: 10px;
  color: #222;
  border: 0;
  border-bottom: 1px solid #222;
  outline: 0;
}
