* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#nameWriter {
  display: inline-block;
  margin: 10px 10px 0;
  padding: 10px;
  background: #efefef;
  border: 2px solid #eee;
}
#nameWriter input, #nameWriter .output {
  width: 350px;
  font-size: 24px;
  outline: none;
  border: 1px solid #ddd;
  color: #666;
  padding: 3px 8px;
}
#nameWriter input {
  margin-bottom: 4px;
}
#nameWriter .output {
  padding: 0 9px;
  border: 0;
  color: #333;
}

#swatchManager {
  width: 374px;
  margin: 10px 10px 0;
  padding: 10px;
  border: 2px solid #eee;
}
.swatch {
  position: relative;
  display: inline-block;
  margin: 1.5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 4px;
}
.swatch .fill {
  border-radius: 3px 3px 0 0;
  width: 52px;
  height: 50px;
  cursor: move;
}
#liveSwatch {
  border: 2px solid #aaa;
  padding: 3px;
  border-radius: 0;
  position: relative;
  bottom: 10px;
}
.swatch .controlPanel {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 17px;
  background: transparent;
}
#liveSwatch .controlPanel {
  width: 58px;
  height: 16px;
  background: #aaa;
}

