* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#hexPicker {
  width: 480px;
  height: 220px;
  margin: 10px 10px 0;
  background: #eee;
}

#nameConverter {
  display: inline-block;
  margin: 10px 10px 0;
  padding: 10px 10px 0;
}
.option {
  border: 2px solid #bbb;
  color: #999;
  border-radius: 3px;
  padding: 2px 6px 2px 25px;
  margin-right: 10px;
  cursor: pointer;
  background: #eee url('../i/Unchecked-15.png') 5px 3px no-repeat;
}
.option:hover {
  border-color: #888;
}
.option.active {
  background: #fff url('../i/Checked-15.png') 5px 3px no-repeat;
}
#nameConverter input, #nameConverter .output {
  width: 350px;
  font-size: 24px;
  outline: none;
  border: 1px solid #ddd;
  color: #666;
  padding: 3px 8px;
}
#nameConverter input {
  border: 2px solid #888;
  margin-bottom: 4px;
}
#nameConverter .outputs {
  margin-top: 10px;
  line-height: 32px;
}
#nameConverter .output {
  padding: 0 9px;
  border: 0;
  color: #888;
}
#nameConverter.parsed .output {
  color: #333;
}

#swatchManager {
  width: 500px;
  margin: 0 10px;
  padding: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  width: 62px;
  height: 80px;
  background: #fff;
  border-bottom: 10px solid transparent;
}
.swatch {
  display: inline-block;
  width: 62px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 4px;
  position: absolute;
  left: 0;
  bottom: -5px;
  z-index: 100;
  cursor: pointer;
}
.swatch .fill {
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.tile:hover {
}
.tile .controlPanel {
  position: absolute;
  left: 0;
  top: 0;
  width: 62px;
  height: 15px;
  text-align: center;
}
.tile .controlPanel .marker {
  font-size: 12px;
  cursor: pointer;
  position: relative;
  bottom: 1px;
  display: none;
}
#liveTile .controlPanel .marker {
  display: inline;
}
.tile .controlPanel .button {
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.tile:hover .controlPanel .button {
  opacity: 0.33;
}
.controlPanel .button {
  display: inline;
  position: absolute;
  width: 15px;
  height: 15px;
  cursor: pointer;
  opacity: 0.33;
  bottom: 0px;
}
.tile .controlPanel .button:hover {
  opacity: 1;
}
.controlPanel .button.delete {
  background: url('../i/Delete-15.png');
  left: 0;
}
.controlPanel .button.clone {
  background: url('../i/Arrow-15.png');
  right: 0;
}

.tile.entering .fill {
  animation-duration: 0.250s;
  animation-name: grow-fill;
  animation-timing-function: ease-out;
}
@keyframes grow-fill {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.tile.leaving .controlPanel {
  display: none;
}
.tile.leaving .fill {
  animation-duration: 0.166s;
  animation-name: shrink-fill;
  animation-timing-function: ease-in;
}
@keyframes shrink-fill {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

