* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#nameWriter {
  display: inline-block;
  margin: 10px 10px 0;
  padding: 10px;
  background: #efefef;
  border: 2px solid #eee;
}
#nameWriter input, #nameWriter .output {
  width: 350px;
  font-size: 24px;
  outline: none;
  border: 1px solid #ddd;
  color: #666;
  padding: 3px 8px;
}
#nameWriter input {
  margin-bottom: 4px;
}
#nameWriter .output {
  padding: 0 9px;
  border: 0;
  color: #333;
}

#swatchManager {
  width: 374px;
  margin: 10px 10px 0;
  padding: 10px;
  border: 2px solid #eee;
}
.tile {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  width: 62px;
  height: 80px;
  background: #fff;
}
.swatch {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 4px;
  position: absolute;
  top: 15px;
  left: 0;
  -webkit-transition: top 0.15s;
  transition: top 0.15s;
}
.swatch .fill {
  border-radius: 3px;
  width: 52px;
  height: 50px;
}
.tile:hover .swatch {
  top: 0;
}
#liveTile .swatch {
  top: 0;
}
.tile .controlPanel {
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 62px;
  height: 25px;
  border: 1px solid transparent;
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}
#liveTile .controlPanel, .tile:hover .controlPanel {
  opacity: 1;
}
.controlPanel .button {
  display: inline;
  position: absolute;
  width: 15px;
  height: 15px;
  cursor: pointer;
  opacity: 0.5;
  bottom: 0px;
}
.controlPanel .button:hover {
  opacity: 1;
}
.controlPanel .button.delete {
  background: url('../i/Delete-15.png');
  left: 0;
}
.controlPanel .button.clone {
  background: url('../i/Arrow-15.png');
  right: 0;
}

