* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#nameWriter {
  display: inline-block;
  margin: 10px 10px 0;
  padding: 10px;
  background: #efefef;
  border: 2px solid #eee;
}
#nameWriter input, #nameWriter .output {
  width: 350px;
  font-size: 24px;
  outline: none;
  border: 1px solid #ddd;
  color: #666;
  padding: 3px 8px;
}
#nameWriter input {
  margin-bottom: 4px;
}
#nameWriter .output {
  padding: 0 9px;
  border: 0;
  color: #333;
}

#swatchManager {
  width: 374px;
  margin: 10px 10px 0;
  padding: 10px;
  border: 2px solid #eee;
}
.swatch {
  display: inline-block;
  padding: 10px 0 10px 4px;
  border: 1px solid transparent;
}
.swatch .fill {
  width: 45px;
  height: 50px;
}
#liveSwatch {
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
#liveSwatch:hover {
  border: 2px dotted #ccc;
  padding: 4px;
}
#liveSwatch .fill {
  width: 55px;
  height: 60px;
}

