body, div, p, span, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#controls {
  position: fixed;
  left: 50px;
  top: 50px;
}

#controls canvas {
  position: absolute;
}

#controls .display {
  position: absolute;
  display: inline-block;
  font-size: 32px;
  text-align: center;
  outline: 0;
}
