body, div, p, span, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#drawingArea {
  border: 2px solid #888;
  position: relative;
}

#drawingArea div {
  position: absolute;
}

#drawingArea .label {
  position: absolute;
  color: #fff;
  display: inline;
  font-size: 32px;
  text-align: center;
}

.mixer canvas {
  position: absolute;
}

.mixer.hover {
  background: #eee;
}
